.headTxt {
  color: #fff;
  font-family: "NeusaNextPro";

  font-size: 20px;
}
.btnStyle {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2f3c48;
  color: #fff;
  font-family: "NeusaNextPro";
  font-size: 12px;
}
.btnStyle:hover {
  color: #fff;
}
.btnStyle:focus {
  box-shadow: none;
}
